/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */

/**-----------------------------------------/
 * Variables
 *-----------------------------------------*/

/**-----------------------------------------/
 * General layout
 *-----------------------------------------*/

/**-----------------------------------------/
 * VGrid for easy layout
 *-----------------------------------------*/
.row {
    #desinax-vgrid.row();
}

.inner-wrap {
    #desinax-vgrid.grid(1100px);
}
/**
 * Over-ride inner-wrapp for header
 */
.inner-wrap-header {
    #desinax-vgrid.grid(100%);
    margin-bottom: 12px;
}
/**
 * Show the vertikalt grid
 */
.vgrid .inner-wrap {
    @gridImage: "../img/grid_24x30x10-nomargin.png";
    //@gridImage: "../../img/grid_12x60x20-nomargin.png";
    #desinax-vgrid.showGrid(@gridImage, 1100px);

    &.inner-wrap-header,
    &.inner-wrap-footer {
        #desinax-vgrid.showGrid(@gridImage);
    }
}
/**-----------------------------------------/
 * Navbars, mobile and desktop
 *-----------------------------------------*/
.rm-navbar-max {
    display: none;
}

.rm-small {
    font-size: 2em;
}

.rm-default a {
    font-size: 1.6em;
    padding: 0.6em;
}
/**-----------------------------------------/
 * Navbars icons
 *-----------------------------------------*/
.nav-icon {
    img {
        width: 60px;
        height: 60px;
    }
}
/**-----------------------------------------/
 * Header
 *-----------------------------------------*/
.region-header-col-1,
.region-header-col-3 {
    #desinax-vgrid.column(12);
}

.region-header-col-2 {
    #desinax-vgrid.column(@columns);
    text-align: center;
}

.site-logo {
    display: none;
}

.site-logo-text {
    font-size: 3em;
}
/**-----------------------------------------/
 * Flash image, under navbar
 *-----------------------------------------*/
.region-flash {
    #desinax-vgrid.column(@columns);
}
/**-----------------------------------------/
 * Main, with or without sidebars
 *-----------------------------------------*/
.region-main {
    #desinax-vgrid.column(@columns - 2);
    #desinax-vgrid.push(1);
    min-height: 600px;

    &.has-sidebar {
        #desinax-vgrid.column(@columns * 3 / 4);
        #desinax-vgrid.push(0);
    }

    &.has-sidebar-left {
        min-height: 408px;
    }

    &.has-sidebar-right {
        #desinax-vgrid.column(@columns * 3 / 4 - 1);
        min-height: 456px;
    }

    &.has-sidebar-left.has-sidebar-right {
        #desinax-vgrid.column(@columns * 3 / 4 - 2);
        #desinax-vgrid.push(1);
        text-align: center;
    }
}
/**-----------------------------------------/
 * Sidebars
 *-----------------------------------------*/
.region-sidebar-left,
.region-sidebar-right {
    #desinax-vgrid.column(@columns * 1 / 4);
}
/**-----------------------------------------/
 * Sidebar right only
 *-----------------------------------------*/
.region-sidebar-right {
    #desinax-vgrid.push(1);
}
/**-----------------------------------------/
 * Sidebar both left and right
 *-----------------------------------------*/
.region-sidebar-left.has-sidebar-right,
.region-sidebar-right.has-sidebar-left {
    #desinax-vgrid.column(3);
}

.region-sidebar-right.has-sidebar-left {
    #desinax-vgrid.push(1);
}
/**-----------------------------------------/
 * Positioning
 *-----------------------------------------*/
.center {
    text-align: center;
}
/**-----------------------------------------/
 * Main contents
 *-----------------------------------------*/
.figure.family {
    margin: 0;
    text-align: center;
}

.figure.family p {
    margin-top: 0;
    font-style: italic;
}

.figure.om-image p {
    margin-top: 0;
    text-align: center;
}

.blogg {
    clear: both;
}
/**-----------------------------------------/
 * Secondary nav
 *-----------------------------------------*/
.pageNav {
     display: flex;
     flex-wrap: nowrap;
     justify-content: space-evenly;
     background: @headfoot;
     border-radius: 5px;

     a {
         color: @headfootText;
         padding: 0.25em;
         font-size: 1.25rem;
     }
}
/**-----------------------------------------/
 * Gravatar
 *-----------------------------------------*/
figcaption.gravatar-user {
    text-align: center;
    margin-top: -8px;
}
/**-----------------------------------------/
 * Article
 *-----------------------------------------*/
article {
    margin-bottom: 24px;
}
/**-----------------------------------------/
 * Columns
 *-----------------------------------------*/
.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.flex-column-left {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding: 1rem;
}

.flex-column-right {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 8;
    padding: 1rem;
}

.flex-align-middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-align-right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.flex-align-middle-space-evenly {
    display: flex;
    justify-content: space-evenly;
}
/**-----------------------------------------/
 * Q&A
 *-----------------------------------------*/
 .results-box {
     border-bottom: 2px solid black;
 }

 .comment p {
     padding: 0;
     margin: 0;
 }

 .accepted {
     color: green;
 }
/**-----------------------------------------/
 * Game Tag
 *-----------------------------------------*/
 .game-tag {
     img {
         border: 5px solid black;
         border-radius: 20px;
     }
 }

 .button.game-tag-button {
     background-color: #036ca1;
 }

 .button.tag-button {
     display: flex;
     margin: 5px;
     padding: 8px;
     width: auto;
 }

 .game-tag {
     i {
         color: @headfootText;
         margin-right: 8px;
     }

     i:hover {
         color: #4caf50;
     }
 }

 .game-tag video:focus {
     outline: none;
 }

/**-----------------------------------------/
 * User
 *-----------------------------------------*/
 .user-header {
     p {
         width: 180px;
         height: 180px;
         border-radius: 50%;
         padding: 1rem;
         margin-left: 48px;
         margin-right: 48px;
         font-size: 2rem;
         background-color: green;
     }
 }
/**-----------------------------------------/
 * Table
 *-----------------------------------------*/
table.results-table {
    border-collapse: collapse;
    border: 2px solid black;
    padding: 2em;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
    width: 100%;
    overflow: hidden;

    thead {
        border: 1px solid black;
        background-color: #35505e;
        color: white;

        a {
            color: white;
        }

        a:hover {
            color: #4caf50;
        }
    }

    td {
        padding: 6px;
    }

    tr {
        border: 1px solid black;
    }

    tr:hover:not(.first) {
            background-color: @rowHover;
            color: white;
        }
}

.fixed {
    table-layout: fixed;
}

.weather-icon {
    position: relative;
    border-radius: 10px;
    height: 50px;
}

.clickable {
    cursor: pointer;
}

.first {
    cursor: auto;
}

.table-font-large {
    font-size: 2rem;
}
/**-----------------------------------------/
 * Form
 *-----------------------------------------*/
.htmlform fieldset {
    border: none;
}

.form,
.htmlform {
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 24px;
    width: 40%;

    input,
    select,
    textarea {
        width: 100%;
        max-width: 100%;
        max-height: auto;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 1.25rem;
    }

    textarea {
        height: 240px;
    }
}

.form-comment,
.form-q-a {
    width: 100%;
}

.form-comment form,
.form-q-a form {
    display: flex;
    width: 85%;
    margin: 0;
    padding: 0;

    p {
        display: flex;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    p.buttonbar {
        width: 12em;
    }

    .cf-desc {
        display: none;
    }

    input[type="text"] {
        padding: 0;
        outline: none;
        border-radius: 0;
    }

    input[type="submit"] {
        border-radius: 0;
        align-items: flex-end;
    }
}

.form-q-a form {
    display: block;
    width: 100%;

    p.buttonbar {
        display: block;
        width: 100%;
    }
}

.wider-form {
    width: 50%;
}

.wide-form {
    width: 100%;
}

.tall-text {
    height: 200px;
}

.form .button {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1.2rem;
}

.form-answer .htmlform {
    width: 100%;
}
/**-----------------------------------------/
 * Buttons
 *-----------------------------------------*/
.button,
.htmlform input[type="submit"],
.htmlform input[type="reset"] {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-sizing: border-box;
    background-color: #0a176f;
    color: white;
    width: 10em;
    padding: 12px 24px;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.htmlform .buttonbar {
    text-align: center;
}

.htmlform legend {
    display: none;
}

.button.wide-button {
    display: block;
    width: 100%;
    padding: 12px 20px;
}

.button.narrow-button {
    width: 12em;
    padding: 12px;
}

.invert {
    background-color: #4caf50;
}

.button:hover,
.button.active {
    background-color: #4caf50;
    text-decoration: none;
}

.button-link {
    margin-top: 48px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    text-align: center;
    margin-bottom: 48px;
}
/**-----------------------------------------/
 * Misc
 *-----------------------------------------*/
.wide {
    width: 200px;
    font-size: 1.5em;
    margin: 0 auto;
    display: block;
    margin-bottom: 1em;
}

.result {
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.5em;
}

.correct {
    color: green;
}

.wrong {
    color: red;
}

.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.left {
    text-align: left;
}

pre {
    overflow: auto;
}

.reset {
    margin: 48px;
}
a.icons.blue {
    color: blue;
}

a.icons.red {
    color: red;
}

a.icons.green {
    color: green;
}

a:hover.icons {
    opacity: 0.7;
}

.menu {
    position: relative;
    margin-bottom: 48px;
}

#message {
    -webkit-animation: cssAnimation 3s forwards;
    animation: cssAnimation 3s forwards;
    position: absolute;
    left: 25%;
    width: 50%;
    color: white;
    padding: 4px 4px;
    background-color: #4caf50;
    box-sizing: border-box;
    border-radius: 0 0 8px 8px;
}
@keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}

input.check {
    position: relative;
    width: 14px;
    height: 14px;
    margin: 0;
    margin-left: 4px;
    margin-right: 4px;
    top: -1px;
}
/**-----------------------------------------/
 * Breadcrumbs, controls for reports
 *-----------------------------------------*/
.region-breadcrumb {
    #desinax-vgrid.column(@columns);
}

.region-breadcrumb li {
    display: inline-block;

    &:after {
        font-family: "Font Awesome 5 Free";
        content: " \f101";
    }
}

.next {
    float: right;
}

.previous {
    float: left;
}

.next-previous {
    overflow: auto;
    padding-top: @magicNumber;
}
/**-----------------------------------------/
 * Byline
 *-----------------------------------------*/
.region-after-main {
    #desinax-vgrid.column(@columns);
}

.figure.Paul {
    margin-bottom: @magicNumber;
}
/**-----------------------------------------/
 * Footer columns
 *-----------------------------------------*/
.footer-column {
    #desinax-vgrid.column(@columns / 3);
    text-align: center;

    & a {
        color: white;
    }

    & h4 {
        border: none;
    }
}

.footer-column-1,
.footer-column-2 {
    border-right: 2px solid black;
}
/**-----------------------------------------/
 * Bottom footer
 *-----------------------------------------*/
.site-footer {
    #desinax-vgrid.column(@columns);
    text-align: center;
    border-top: 1px solid black;
}
/**-----------------------------------------/
 * End of layout
 *-----------------------------------------*/
